body {
    background: rgb(138, 138, 245);
    text-align: center;
}

header {
    color: white;
    text-align: center;
}

img {
    width: 250;
    height: 250;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: auto;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px black;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}